In [1]:
import pandas as pd
import sys

# csvをimportする

In [6]:
train = pd.read_csv(f"../data/train.csv", sep=',')
test = pd.read_csv(f"../data/test.csv", sep=',')
train.head()

,id,Brand,Material,Size,Compartments,Laptop Compartment,Waterproof,Style,Color,Weight Capacity (kg),Price
0,0,Jansport,Leather,Medium,7.0,Yes,No,Tote,Black,11.611723,112.15875
1,1,Jansport,Canvas,Small,10.0,Yes,Yes,Messenger,Green,27.078537,68.88056
2,2,Under Armour,Leather,Small,2.0,Yes,No,Messenger,Red,16.643760,39.17320
3,3,Nike,Nylon,Small,8.0,Yes,No,Messenger,Green,12.937220,80.60793
4,4,Adidas,Canvas,Medium,1.0,Yes,Yes,Messenger,Green,17.749338,86.02312

In [4]:
extra_data = pd.read_csv(f"../data/training_extra.csv", sep=',')
extra_data.head()

,id,Brand,Material,Size,Compartments,Laptop Compartment,Waterproof,Style,Color,Weight Capacity (kg),Price
0,500000,Under Armour,Canvas,Small,10.0,Yes,Yes,Tote,Blue,23.882052,114.11068
1,500001,Puma,Polyester,Small,4.0,No,Yes,Backpack,Green,11.869095,129.74972
2,500002,Jansport,Polyester,Small,8.0,Yes,Yes,Tote,Red,8.092302,21.37370
3,500003,Nike,Nylon,Large,7.0,No,No,Messenger,Pink,7.719581,48.09209
4,500004,Nike,Leather,Large,9.0,No,Yes,Tote,Green,22.741826,77.32461

In [5]:
sample_submission = pd.read_csv(f"../data/sample_submission.csv", sep=',')
sample_submission.head()

       id   Price
0  300000  81.411
1  300001  81.411
2  300002  81.411
3  300003  81.411
4  300004  81.411

In [14]:
print(f"train.shape: {train.shape}")
print(f"test.shape: {test.shape}")
print(f"extra_data.shape: {extra_data.shape}")
print(f"sample_submission.shape: {sample_submission.shape}")

train.shape: (300000, 11)
test.shape: (200000, 10)
extra_data.shape: (3694318, 11)
sample_submission.shape: (200000, 2)

# csvをpreprocess_resultsに作成

In [8]:
path = f"../pre_process_results/P1.csv"
df_cleaned.to_csv(path, index=False, encoding='utf-8')